In [1]:
import pandas as pd

In [2]:
# Reading input file to dataframe
df = pd.read_json("purchase_data.json")
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#Player Count
totalplayers = len(df["SN"].unique())

totalplayers= pd.DataFrame({"Players": [totalplayers]})
totalplayers

   Players
0      573

In [4]:
#Purchasing Analysis (Total)
#Number of Unique Items
uniqueitems = len(df["Item Name"].unique())
uniqueitems

#Average Purchase Price
avgprice = df["Price"].mean()
avgprice

#Total Number of Purchases
totalpurchases = df["Item Name"].count()
totalpurchases

#TOtal Revenue
Revenue = df["Price"].sum()
Revenue

2286.33

In [5]:
#Gender Demographics

#per gender
genders = df.groupby("Gender").SN.nunique()

In [6]:
#Set variables
female = genders.Female.sum()
male = genders.Male.sum()
percentmale = male/totalplayers*100
percentfemale = female/totalplayers*100

In [7]:
#create dataframe
genderframe = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclose"],
                           "Total": [male, female, "8"],
                           "Percentage": [percentmale, percentfemale, "1.40"]})
genderframe

                 Gender                 Percentage Total
0                  Male       Players
0  81.151832   465
1                Female       Players
0  17.452007   100
2  Other / Non-Disclose                       1.40     8

In [8]:
#Purchasing Analysis (Gender)

#Count of purchases by Gender
gg = df.groupby("Gender")
gg["Item ID"].count()

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Item ID, dtype: int64

In [9]:
#Average Purchase Price
gg["Price"].mean()

Gender
Female                   2.815515
Male                     2.950521
Other / Non-Disclosed    3.249091
Name: Price, dtype: float64

In [10]:
#Total Purchase Value
gg["Price"].sum()

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [11]:
#Age Demographics

bins = [4,9,14,19,24,29,34,39,44,49]
df["Age Range"] = pd.cut(df["Age"],bins)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,"(34, 39]"
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,"(19, 24]"
2,34,Male,174,Primitive Blade,2.46,Assastnya25,"(29, 34]"
3,21,Male,92,Final Critic,1.36,Pheusrical25,"(19, 24]"
4,23,Male,63,Stormfury Mace,1.27,Aela59,"(19, 24]"

In [12]:
#Purchase Count
age_grouped = df.groupby("Age Range")["Item ID"].count()
age_grouped

Age Range
(4, 9]       28
(9, 14]      35
(14, 19]    133
(19, 24]    336
(24, 29]    125
(29, 34]     64
(34, 39]     42
(39, 44]     16
(44, 49]      1
Name: Item ID, dtype: int64

In [13]:
#Average Purchase Price
avg_price = df.groupby("Age Range")["Price"].mean()
avg_price

Age Range
(4, 9]      2.980714
(9, 14]     2.770000
(14, 19]    2.905414
(19, 24]    2.913006
(24, 29]    2.962640
(29, 34]    3.082031
(34, 39]    2.842857
(39, 44]    3.189375
(44, 49]    2.720000
Name: Price, dtype: float64

In [14]:
#Total Purchase Value
purch_value = df.groupby("Age Range")["Price"].sum()
purch_value

Age Range
(4, 9]       83.46
(9, 14]      96.95
(14, 19]    386.42
(19, 24]    978.77
(24, 29]    370.33
(29, 34]    197.25
(34, 39]    119.40
(39, 44]     51.03
(44, 49]      2.72
Name: Price, dtype: float64

In [15]:
#Top Spenders#Purchase Count#Avg Purchase Price#Total Value
#Total purchases
spenders = df.groupby("SN").Price.sum()
#Count
count = df.groupby("SN").Price.count()
#Average Price
average = df.groupby("SN").Price.mean()

blah = pd.DataFrame({"Count": count,
                    "Average": average,
                    "Total Purchase": spenders})
blah.nlargest(5, "Total Purchase")

              Average  Count  Total Purchase
SN
Undirrala66  3.412000      5           17.06
Saedue76     3.390000      4           13.56
Mindimnya67  3.185000      4           12.74
Haellysu29   4.243333      3           12.73
Eoda93       3.860000      3           11.58

In [16]:
#Popular Items

CountItems = df.groupby("Item Name").Price.count()
ItemGroup = df.groupby("Item Name")["Item ID"].mean().astype('int')
AveragePrice = df.groupby("Item Name").Price.mean()
TotalPurchaseValue = df.groupby("Item Name").Price.sum()

Most_Popular = pd.DataFrame({'Item id':ItemGroup,
                       'Purchase Count' : CountItems,
                       'Item Price' : AveragePrice, 
                       'Total Purchase Value' : TotalPurchaseValue})
Most_Popular.nlargest(5,'Purchase Count')

,Item Price,Item id,Purchase Count,Total Purchase Value
Item Name,,,,
Final Critic,2.757143,95,14,38.60
Arcane Gem,2.230000,84,11,24.53
"Betrayal, Whisper of Grieving Widows",2.350000,39,11,25.85
Stormcaller,3.465000,105,10,34.65
Retribution Axe,4.140000,34,9,37.26

In [ ]:
#Observations
Most players are between the age of 19 and 25

People on the age outliers did not buy a lot of things. Possibly player engagement or understanding of the game.

Most of the players were male